<p> Product Id is from section 2 --- {{product.id}} </p>

{% schema %}
  {
    "name": "Second JSON Section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
